/*  your css code here. If applicable */
body{

	background-color:yellow;
}
.books{

	background-color:red;
	margin-inline:20vw;
	
}

.book img{
	
	height:150px;
	margin-inline:110px;
		

h4{

	text-align:center;
}
